.footer {
    a {
        color: var(--bs-secondary-color);
        transition: color 0.2s ease-in-out;

        &:hover {
            color: var(--bs-link-hover-color);
        }
    }

    .bmc-link {
        font-weight: 500;
    }

    i {
        font-size: 1.1rem;
    }
}

