.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.25rem;
}

.nav-link {
    &.active {
        font-weight: 600;
    }
}

.theme-toggle {
    color: inherit;
    text-decoration: none;

    &:focus-visible {
        outline: 2px solid currentColor;
        outline-offset: 2px;
        border-radius: 0.25rem;
    }
}
