/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@forward 'bootstrap/scss/bootstrap';

/* Global mobile font scaling */
@media (max-width: 575.98px) {
    html {
        font-size: 14px;
    }
}

